<style type="text/css">
 .root{
   display: flex;
   justify-content: center;
   align-items: center;

   background-color: #dfe6e9;
   padding: 20px;
 }
 .myframe{
   width:600px;
   background-color: #fff;
   padding: 20px;
   border-radius: 10px;
  }
 .gap {
     margin-top: 10px;
 }
 .btnstyle{
     display: flex;justify-content: center;align-items: center;


  }
</style>
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/static/javascript/project.js"></script>

<head>
    <meta charset="UTF-8">
    <title>Material Management[Supplier]</title>
</head>
<body style="background:#dfe6e9;">
<form action="/suppliersubmit" method="post" enctype="multipart/form-data"> {%csrf_token%}
  <div class="root">
   <div class="myframe">
           <div class="row" style=" display:flex;align-items:center;font-size:14px;letter-spacing:2px;font-weight: bold; padding-left: 20px;margin-bottom: 10px;">
               <img src="/static/employee.jpg" width="30">
               Supplier Register
           </div>

        <div class="row">
              <div class="col">
                <input type="text" name="sfirstname" class="form-control" placeholder="First Name">
              </div>

             <div class="col">
                <input type="text" name="slastname" class="form-control" placeholder="Last Name">
              </div>

        </div>

        <div class="row gap">
              <div class="col">
                <input type="email" name="emailaddress" class="form-control" placeholder="Email Address">
              </div>

             <div class="col">
                <input type="text" name="mobilenumber" class="form-control" placeholder="Mobile Number">
              </div>

        </div>

       <div class="row gap">
           <div class="col">
               <input type="text" name="address" class="form-control" placeholder="Address">
           </div>
       </div>

       <div class="row gap">
           <div class="col">
               <input  type="text" class="form-control" id="state" name="state" placeholder="State">

           </div>

              <div class="col">
               <input type="text" class="form-control" id="city" name="city" placeholder="City">

              </div>
       </div>

       <div class="row gap">
               <div class="col btnstyle " >
        <button type="submit" class="btn btn-primary w-100" >Save</button>
               </div>

               <div class="col btnstyle">
         <button type="reset" class="btn btn-primary w-100" >Reset</button>
               </div>
       </div>
       
       <div class="row gap">
           <div class="col btnstyle" style="font-size:18px;font-weight:bold;">
               {{msg}}
           </div>
       </div>

   </div></div></form></body></html>